.product{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 0 0 5px 1px gray;
    position: relative;
    overflow: hidden;
}

.product img{
    height: 200px;
}

.add-buttons{
    width: 100%;
    height: 30px;
    border: none;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: .1s ease-in-out;
}

.add-buttons:hover{
    background-color: lime;
    height: 40px;
}