.product{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px 1px gray;
}

.product img{
    height: 200px;
}